/*
* @Author: Administrator
* @Date:   2017-11-10 15:15:58
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-16 16:37:51
*/
body,html{
  background-color: #fff;
  color: #444;
}
.headerWrap nav.navbar {
    position: relative;
    width: 100%;
}
.headerWrap a{
  color: rgba(0,0,0,0.3);
}
.headerWrap a>i.fa.fa-bars {
    color: rgba(0,0,0,0.3);
}
.headerWrap .bar.pc li.nav-item.active a{
    color: #fff;
}
.headerWrap a.showUl>i.fa.fa-bars {
    color: rgba(0,0,0,0.1);
}
.headerWrap nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top {
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
}


body * {
  box-sizing: border-box;
}
.tranListPg .container.mobile{
  display: none;
}

.tranListPg{
  width: 100%;
}
.tranListPg .header {
  background-color: #327a81;
  color: white;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.tranListPg .table-users {
  border: 1px solid rgb(49,145,169);
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
}
.tranListPg table {
  width: 100%;
  table-layout: fixed;
}
.tranListPg table td, .tranListPg table th, .tranListPg table td a {
  color: #2b686e;
  padding: 1em 0.2em;
}
.tranListPg table td a{
  font-weight: 600;
}
.tranListPg table td {
  text-align: center;
  vertical-align: middle;
  font-size: 300;
}
.tranListPg table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
}
.tranListPg table th{
  font-weight: 800;
}
.tranListPg th:last-child {
    width: 8em;
}
.tranListPg table th,.tranListPg table td {
  font-weight: 300;
  text-align: center;
  word-wrap: break-word;
}
.tranListPg table th:nth-child(1),.tranListPg table th:nth-child(2),.tranListPg table td:nth-child(1),.tranListPg table td:nth-child(2){
  width: 25%;
}
.tranListPg table td:nth-child(1),.tranListPg table td:nth-child(2){
  text-align: left;
}
.tranListPg table tr:nth-child(2n) {
  background-color: #fff;
}
.tranListPg table tr:nth-child(2n+1) {
  background-color: #edf7f8;
}
.tranListPg table td.action button:first-child{
    padding: 0.4em 1.56em;
    margin-bottom: 0.5em;
}
.tranListPg table td.action button{
  display: block;
}

.tranListPg button.btn.cmnBtn {
    margin: auto;
}
.tranListPg td.action{
  position: relative;
}
/*****pop wrap******/
.tranListPg  .popWrap{
  display: none;
  position: absolute;
  right: 0em;
  bottom: 0em;
  background-color: rgb(243, 240, 240);
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 6px 6px 20px;
}
.tranListPg .popWrap textarea {
    background-color: rgba(255,255,255,0.9);
    margin: 0em 1em;
}
.tranListPg  .popWrap,.tranListPg .popWrap textarea{
    border-radius: 5px;
}
.tranListPg .popWrap .buttonWrap {
    text-align: right;
    padding-bottom: 1em;
    padding-right: 1em;
}

.tranListPg .popWrap .desc {
    padding: 0.8em;
    font-size: 0.8em;
    text-align: left;
}
 .tranListPg  .popWrap textarea {
    width: 20em;
  }

/****************************************for tablet ************************************************/
@media screen and (max-width: 700px) {
  .tranListPg .table-users.pc{
    display: none;
  }
  .tranListPg .container.mobile{
    display: block;
  }
  .tranListPg{
    word-wrap: break-word;
  }
  .tranListPg .mobile .wrap {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0em;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #1c3a491c;
  }
 .tranListPg .mobile .state div{
  display: inline-block;
  width: 50%;
  border: none;
  text-shadow: 1px 1px 1px #01080f;
 }
 .tranListPg .mobile .state>div {
    height: 2.5em;
    line-height: 2.5em;
}
  .tranListPg .mobile{
    color: rgb(81,106,113);
  }
   .tranListPg .mobile .state div:first-child{
        background-color:rgb(200,231,234);
        font-size: 2em;
   }
    .tranListPg .mobile .state div:last-child .count{
      font-size: 1.5em;
      vertical-align: middle;
    }
  .tranListPg .mobile .state div:first-child,.tranListPg .mobile .state div .count{
    font-weight: 800;
    color: rgb(118,137,143);
  }
  .tranListPg .mobile .state div:nth-child(2){
    font-size: 1.5em;
  }
  .tranListPg .mobile .state>div {
    padding-left: 1em;
  }
  .tranListPg .mobile .detail .mbTran,span.id,.tranListPg .mobile .typeDate>div>span:first-child{
    color: rgb(186,229,233);
  }
  .tranListPg .mobile .detail>p{
    padding: 0em 1em;
    margin: 0.5em 0em;
  }
  .tranListPg .mobile .detail>p a{
    color: #697f85;
  }
  .tranListPg .mobile .detail>p a:hover{
    cursor: hand;
  }
  .tranListPg .mobile .typeDate>div{
     padding: 0em 1em;
     display: inline-block;
  }
  .tranListPg .mobile .action{
    padding:1em;
    text-align: center;
  }
  .tranListPg .mobile .detail p:first-child{
    color: rgb(18,56,65)
  }
  .tranListPg .mobile .action button{
      margin: 1em;
  }
  .tranListPg .mobile .detail {
    padding-top: 0.8em;
  }
  /****pop up form*****/
  .tranListPg  .popWrap {
    right: 2em;
    width: 80%;
  }
   .tranListPg  .popWrap textarea{
    width: 90%;
    margin: 0em;
   }


}
/****************************************for mobile ************************************************/
@media screen and (max-width: 500px) {
  /**********headerWrap*********************/
  .headerWrap ul.navbar-nav{
    background-color: rgb(47, 146, 169);;
  }
  .headerWrap ul.navbar-nav a{
    color: #fff;
  }
  .headerWrap ul.navbar-nav li.active{
     background-color: rgb(43,130,218);
  }
  .tranListPg .mobile .state div:first-child {
    font-size: 1.5em;
  }
  .tranListPg .mobile .state div:nth-child(2) {
    font-size: 1.2em;
  }
    .tranListPg .mobile .action button {
     margin: 0em;
  }
  
}


 /****************************************for small mobile screen ************************************************/
@media all and (max-width: 330px){
  .tranListPg .mobile .state div:nth-child(2) {
    font-size: 1em;
  }
 }

  /****************************************for large screen ************************************************/
@media all and (min-width: 1020px){
     /****transaction list page********/
    .tranListPg table td, .tranListPg table th{
      padding: 1em;
    }
    .tranListPg th:last-child {
      width: 10em;
    }
 }