/*
* @Author: Administrator
* @Date:   2017-11-17 23:20:49
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-22 14:50:02
* here is loading css
*/
body{
	position:relative;
}
.fixed-top{
    z-index: 10!important;
}
#loadingWrap{
	display: none;
	opacity: 0;
    top: 0px;
    filter: alpha(opacity=0);
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.9);
	z-index: 30;
}
#loading {
    width: 100px;
    height: 100px;
    margin: 20em auto;
    position: relative;
}
.outer-shadow, .inner-shadow, #timer {
    z-index: 6;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
}
.inner-shadow {
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.dot {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 10px;
    margin-top: -5px;
    -webkit-animation: dot 8s linear both;
    -webkit-transform-origin: 0% 50%;
}
.dot span {
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.hold {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px, 100px, 100px, 50px);
    -webkit-border-radius: 100%;
    background-color: #f50;
}
#left .pie {
    z-index: 1;
    -webkit-animation: left 4s linear both;
}


.pie {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
}

.pie, .dot span {
    background-color: rgba(255,255,255,0.5);
}
#right {
    z-index: 3;
    -webkit-transform: rotate(180deg);
}

.hold {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px, 100px, 100px, 50px);
    -webkit-border-radius: 100%;
    background-color: rgba(255,85,0,0.5);
}

#right .pie {
    -webkit-animation: right 4s linear both;
    -webkit-animation-delay: 4s;
}

.dot {
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}