<%= require('html-loader!./layout/meta.html') %> 
<body>
	<%= require('html-loader!./layout/headerIndex.html') %>  
	<%= require('html-loader!./layout/loading.html') %>  
	<div class="main">
		<!--
		<div class="buttonWrap">
			<button class="js-prev"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
			<button class="js-nxt"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
		</div>  -->
		<div class="wrap" data-show="1">
			<div class="pg1">
				<div class="bg"></div>
				<div class="content">
					<div class="description"><img src=""></div>
					<!-- formWrap module in page-index-layout.string -->
					 <div class="formWrap">
					 	
					 </div>
				</div>
			</div>
			<div class="pg2">
				<div class="bg"></div>
				<div class="content">
					<div class="description"><img src=""></div>
					<!-- formWrap module in page-index-layout.string -->
					 <div class="formWrap">
					 </div>
				</div>
			</div>
			<div class="pg3">
				<div class="bg"></div>
				<div class="content">					
				   <div class="description"><img src=""></div>
					 <div class="formWrap">
					 </div>
				 </div>
			</div>
			<div class="pg4">
				<div class="bg"></div>
				<div class="content">					
				   <div class="description"><img src=""></div>
					 <div class="formWrap">
					 </div>
				 </div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html') %>  
</body>
</html>