<!DOCTYPE html>
<html>
<head>
	<title>HiJiko 交易总览</title>
<%= require('html-loader!./layout/meta.html') %> 
</head>
<body>
		<%= require('html-loader!./layout/header.html') %>  
		<%= require('html-loader!./layout/loading.html') %> 
		<div class="tranListPg">
			<div class="table-users pc">
			   <div class="header">交易托管列表</div>
			   
			   <table class="pcHogan" cellspacing="0">
			   </table>
			</div>
			<div class="container mobile">
				<div class="row mobileHogan">
<!--
					<div class="table mobile col-md-8 col-sm-8 col-xs-8">
						<div class="wrap">
							<div class="state">
								<div>已支付</div><div>于<span class="count">8</span>天后放款</div>
							</div>
							<div class="detail"> 
								<p>
									<span class="mbTran">交易</span>
									<a href="#" class="js-tranTt">转给王小二的SKDJFALJDLFJALDFJLAJFLADJFLAJDFLJADLFJALDJFLAJDLFJALDF</a>
								</p>
								<p>
									<span class="id">ID</span>
									123423423542354234123131231231
								</p>
								<div class="typeDate">
									<div class="type">
										<span>类型</span>
										<span>付款</span>
									</div>
									<div class="date">
										<span>日期</span>
										<span>2017-11-07</span>
									</div>
								</div>
							</div>
							<div class="action">
								<button class="cmnBtn js-POP" data-type="pauseRlease">暂停放款</button>
								<button class="cmnBtn js-POP" data-type="comment">留言 HiJiko</button>
							</div>
						</div>
					</div>    -->
				</div>
			</div>
		</div>
		<%= require('html-loader!./layout/footer.html') %> 
</body>