<!DOCTYPE html>
<html>
<head>
	<title>HiJiko 交易详情</title>
<%= require('html-loader!./layout/meta.html') %> 
</head>
<body>
<!-- crtState=current state; rcvName=receiver name;rcvAlpy: receiver alipay account; tle: title;hstWrap:history wrap;bhv=behaviour; cmntTtl: comment title; cmtCnt: comment content; innerTtl: inner comment title--> 
		<%= require('html-loader!./layout/header.html') %>  
		<div class="tranDetailPg container">
			<div class="row">
				<div class="hoganHtml col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<!-- hogan HTML -->
				</div>
			</div>
		</div>
		<%= require('html-loader!./layout/footer.html') %> 
		<script type="text/javascript" src="../module/twbsPagination/jquery.twbsPagination.min.js"></script>
</body>