
<div class="headerWrap"> 
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">
	  	<img src="" />
	  </a>
	  	<div class="bar pc">
		  <ul class="navbar-nav">
		    <li class="nav-item">
		      <a class="nav-link jsRegister" href="#">注册</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link jsLogin" href="#">登录</a>
		    </li>
		 </ul>
		</div>
	 	<div class="bar mobile">
		 	<a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
			    <ul class="navbar-nav">
				    <li class="nav-item">
				      <a class="nav-link jsRegister" href="#">注册</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link jsLogin" href="#">登录</a>
				    </li>
			  </ul>
		</div>
	</nav>
</div>