
<div class="headerWrap"> 
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
	  <a class="navbar-brand" href="#">
	  	<img src="" />
	  </a>
	  	<div class="bar pc">		
		  <ul class="navbar-nav">
  		    <li class="nav-item">
		      <a class="nav-link nickName" href="#"></a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link jsTranMg" href="#">交易管理</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link jsAddTran" href="#">托管交易</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link jsLogout" href="#">退出登录</a>
		    </li>
		 </ul>
		</div>
	 	<div class="bar mobile">	
 		  	  <div class="user">
		  	  	<span class="nickName"></span>
		  	  </div>
		 	<a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
			    <ul class="navbar-nav">
				    <li class="nav-item">
				      <a class="nav-link jsTranMg" href="#">交易管理</a>
				    </li>
	    		    <li class="nav-item">
				      <a class="nav-link jsAddTran" href="#">托管交易</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link jsLogout" href="#">退出登录</a>
				    </li>
			  </ul>
		</div>
	</nav>
</div>